<style>
.ad-container {
  position: relative;
  width: 100%;
  height: 300px;
}
  
.ad {
  position: fixed;
  width: auto;
  height: 300;
}

.ad-left {
  left: 0;
  top: 50%;
  margin-top: -150px;
}

.ad-right {
  right: 0;
  top: 50%;
  margin-top: -150px;
}
</style>
<div class="ad-container">
  <div class="ad ad-left"><img src="/9kkuu7h4riu2kquy7v6cu68sltttw4jd.jpg"/></div>
  <!-- 左侧广告位 -->
  <div class="ad ad-right"><img src="/9kkuu7h4riu2kquy7v6cu68sltttw4jd.jpg"/></div>
  <!-- 右侧广告位 -->
</div>
