<style>
.ad-container {
  position: relative;
  width: 100%;
}

.ad {
  position: fixed;
  width: auto;
}

.ad-left {
  left: 0;
  top: 50%;
  margin-top: -300px;
  width: 30vh;
}

.ad-right {
  right: 0;
  top: 50%;
  margin-top: -300px;
  width: 30vh;
}

.hidden {
  display: none;
}
</style>
<script is:inline>
var ua = navigator.userAgent;
var isIpad = ua.match(/(iPad).*OS\s([\d_]+)/),
isIphone = ua.match(/(iPhone\sOS)\s([\d_]+)/),
isAndroid = ua.match(/(Android)\s+([\d.]+)/),
isMobile = isIpad || isIphone || isAndroid;
var adBox = document.getElementById('ad-box');

if (isMobile) {
  document.getElementById('ad-box').style.display = 'none';
}

if (window.screen.width < 300) {
  document.getElementById('ad-box').style.display = 'none';
}
</script>
<div id="ad-box" class="ad-container">
  <div class="ad ad-left"><a href="https://www.changan.com.cn" target="_blank"><img src="/196451678187989.jpg"/></a></div>
  <!-- 左侧广告位 -->
  <div class="ad ad-right"><a href="https://www.changan.com.cn" target="_blank"><img src="/196451678187989.jpg"/></a></div>
  <!-- 右侧广告位 -->
</div>
