<style>
.ad-container {
  position: relative;
  width: 100%;
}
  
.ad {
  position: fixed;
  width: auto;
}

.ad-left {
  left: 0;
  top: 50%;
  margin-top: -300px;
}

.ad-right {
  right: 0;
  top: 50%;
  margin-top: -300px;
}
</style>
<div class="ad-container">
  <div class="ad ad-left"><img src="/196451678187989.jpg"/></div>
  <!-- 左侧广告位 -->
  <div class="ad ad-right"><img src="/196451678187989.jpg"/></div>
  <!-- 右侧广告位 -->
</div>
