<style>
.ad-container {
  position: relative;
  width: 100%;
}

.ad {
  position: fixed;
  width: auto;
}

.ad-left {
  left: 0;
  top: 50%;
  margin-top: -280px;
  width: 30vh;
}

.ad-right {
  right: 0;
  top: 50%;
  margin-top: -280px;
  width: 30vh;
}

.hidden {
  display: none;
}
</style>
<div id="ad-box" class="ad-container">
  <!-- 左侧广告位 -->
  <!--<div class="ad ad-left"><a href="https://www.changan.com.cn" target="_blank"><img src="/z1.jpg"/></a></div>-->
  <div class="ad ad-left"><a href="https://hotels.ctrip.com/hotels/detailPage?hotelId=931461&p=355331334" target="_blank"><img src="/y2.gif"/></a></div>
  <!--<div class="ad ad-right"><a href="https://qm.qq.com/cgi-bin/qm/qr?k=yzRQp18C1F7J9dvALvPJ-brqD2KmWeaG&noverify=0&personal_qrcode_source=4" target="_blank"><img src="/y3.jpg"/></a></div>-->
  <div class="ad ad-right"><a href="//home.xbdsky.cn/" target="_blank"><img src="//images.xbdsky.cn/z10086.jpg"/></a></div>
  <!-- 右侧广告位 -->
</div>
<script is:inline>
let ua = navigator.userAgent;
let isIpad = ua.match(/(iPad).*OS\s([\d_]+)/),
isIphone = ua.match(/(iPhone\sOS)\s([\d_]+)/),
isAndroid = ua.match(/(Android)\s+([\d.]+)/),
isMobile = isIpad || isIphone || isAndroid;
let adBox = document.getElementById('ad-box');

if (isMobile) {
  adBox.style.display = 'none';
}

if (window.screen.width < 300) {
  adBox.style.display = 'none';
}
</script>
