<div class="flex items-center mt-2">
    <a href="https://www.changan.com.cn" target="_blank"><img src="/x1.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://hotels.ctrip.com/hotels/detailPage?hotelId=931461&p=355331334" target="_blank"><img src="/x2.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <img src="/x3.jpg"/>
</div>

