<div class="flex items-center mt-2">
    <a href="https://www.deepal.com.cn/" target="_blank"><img src="/x7.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://qm.qq.com/cgi-bin/qm/qr?k=yzRQp18C1F7J9dvALvPJ-brqD2KmWeaG&noverify=0&personal_qrcode_source=4" target="_blank"><img src="/x8.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://www.avatr.com/" target="_blank"><img src="//images.xbdsky.cn/x13x.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://hotels.ctrip.com/hotels/detailPage?hotelId=931461&p=355331334" target="_blank"><img src="/x2.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://mp.weixin.qq.com/s/W9FiFOzPv_N01BFTPkJjpg" target="_blank"><img src="https://images.xbdsky.cn/x20.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://mp.weixin.qq.com/s?__biz=MzkzMTM5NzYwMQ==&mid=2247483853&idx=1&sn=9ac5c1d3d3b5c2d9cab0986b42ee9318&chksm=c26aeb43f51d625595dc67a5d7a82f1a38a102906b3f398aeeb15ad6fc46cfe430a3cb8a9afb#rd" target="_blank"><img src="/x12.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://tea.xbdsky.cn/" target="_blank"><img src="/x9.jpg"/></a>
</div>
