<div class="flex items-center mt-2">
    <a href="https://www.deepal.com.cn/index" target="_blank"><img src="/x7.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://qm.qq.com/cgi-bin/qm/qr?k=yzRQp18C1F7J9dvALvPJ-brqD2KmWeaG&noverify=0&personal_qrcode_source=4" target="_blank"><img src="/x8.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://hotels.ctrip.com/hotels/detailPage?hotelId=931461&p=355331334" target="_blank"><img src="/x2.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://tea.xbdsky.cn/" target="_blank"><img src="/x9.jpg"/></a>
</div>

<!--<div class="flex items-center mt-2">
    <img src="/x3.jpg"/>
</div>-->

