<div class="flex items-center mt-2">
    <a href="https://www.changan.com.cn" target="_blank"><img src="/196441678187982.jpg"/></a>
    <a href="http://www.yougan.cc/" target="_blank"><img src="http://budingteam-dev-cdn.xbdsky.cn/202303111237136.jpg"/></a>
</div>
