<div class="flex items-center">
    <a href="http://www.tikinmedia.com/" target="_blank"><img src="/x10.jpg"/></a>
</div>

<div class="flex items-center mt-2">
    <a href="https://www.changan.com.cn" target="_blank"><img src="/x1.jpg"/></a>
</div>
