<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="http://yougan.cc/" target="_blank"
    >
      郑州有感科技有限公司 广告赞助联系|13071090062
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://www.changan.com.cn/" target="_blank"
    >
      长安汽车-华南战区赞助
    </a>
  </p>
</footer>
