<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="http://yougan.cc/" target="_blank"
    >
      寒江雪客·以行动推进积极改变 广告赞助联系 | 18612695051 
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://www.changan.com.cn/" target="_blank"
    >
      长安汽车 - 蔡益赞助
    </a>
  </p>
  <!-- 统计 -->
  <script type="text/javascript" src="//js.users.51.la/21574607.js"></script>
</footer>
